* {
  border: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  padding: 26px;
  min-width: 1024px;
  min-height:726px;
}

.Mid-Left {
  padding-right: 40px;
}

.Main-User-Icon {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-left-radius: 1px;
}

.Hi-User {
  font-size: 700;
}

.Top {
  margin-top: .5%;
  display: grid;
  background-color: #172C49;
  min-width: 1024px;
  min-height: 50px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  justify-content: center;
}

.Current-Date {
  margin-top: .1%;
  display: grid;
  background-color: #EDEDF1;
  min-width: 120px;
  min-height: 50px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 80px;
  justify-content: center;
  align-content: center;
}

.Mid {
  display: flex;
  background-color: #f5c050;
  padding-top: 2px;
  padding-left: 20px;
  padding-bottom: 2px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.Mid-Right {
  display: flex;
  flex-direction: column;
}

.Bottom {
  margin-top: .5%;
  display: grid;
  column-gap: .6%;
  /* background-color: #E0EEF8; */
}

.Bottom-Left {
  overflow-y: scroll;
  overflow-wrap: break-word;
  background-color: #E0EEF8;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  min-height: 600px;
  max-height: 600px;
}

.Bottom-Mid {
  overflow-y: scroll;
  overflow-wrap: break-word;
  background-color: #E0EEF8;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  min-height: 600px;
  max-height: 600px;
}

.Bottom-Right {
  overflow-y: scroll;
  overflow-wrap: break-word;
  background-color: #E0EEF8;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  min-height: 600px;
  max-height: 600px;
}

#icon {
  background-color: cornflowerblue;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-left-radius: 1px;
}

.Bottom {
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
