* {
  border: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  padding: 26px;
  min-width: 1024px;
  min-height:726px;
}

.Mid-Left {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding-right: 40px;
}

.Main-User-Icon {
    padding-top: 4px;
    border-radius: 50%;
    height: 10em;
    width: 10em;
}

.Hi-User {
  font-size: 700;
}

.Top {
  margin-top: .5%;
  display: grid;
  background-color: #172C49;
  min-width: 1024px;
  min-height: 50px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  justify-content: center;
}

.Current-Date {
  margin-top: .1%;
  display: grid;
  background-color: #EDEDF1;
  min-width: 120px;
  min-height: 50px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 80px;
  justify-content: center;
  align-content: center;
}

.Mid {
  display: flex;
  align-items: center;
  background-color: #f5c050;
  padding-top: 2px;
  padding-left: 20px;
  padding-bottom: 2px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.Mid-Right {
  display: flex;
  flex-direction: row-reverse;
}

.Bottom {
  margin-top: .5%;
  display: grid;
  column-gap: .6%;
  /* background-color: #E0EEF8; */
}

.Bottom-Left {
  padding: 1em;
  overflow-y: scroll;
  overflow-wrap: break-word;
  background-color: #E0EEF8;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  min-height: 600px;
  max-height: 600px;
}

.Bottom-Mid {
  padding: 1em;
  overflow-y: scroll;
  overflow-wrap: break-word;
  background-color: #E0EEF8;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  min-height: 600px;
  max-height: 600px;
}

.Bottom-Right {
  padding: 1em;
  overflow-y: scroll;
  overflow-wrap: break-word;
  background-color: #E0EEF8;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  min-height: 600px;
  max-height: 600px;
}

.Friend-Icons-And-Names {
  display: flex;
  padding: 1em;
}

#icon {
  border-radius: 50%;
}
.icon-1 {
  border-radius: 50%;
  padding: .5em;
  height: 6em;
  width: 6em;
}
.icon-2 {
  border-radius: 50%;
  padding: .5em;
  height: 6em;
  width: 6em;
}
.icon-3 {
  border-radius: 50%;
  padding: .5em;
  height: 6em;
  width: 6em;
}
.icon-4 {
  border-radius: 50%;
  padding: .5em;
  height: 6em;
  width: 6em;
}

.Section-Title {
  font-size: x-large;
  text-align: center;
}

.Bottom {
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
